@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.App{
    position:relative;
    min-height: 100vh;
    background-color: #E9EFFF;
}
.navbar-brand{
    font-family: Major Mono Display;
}
.container{
    padding-bottom: 10%;
}
.btn-outline-primary{
    width: 18rem;
    margin: 2% 0px;
}
.list-group{
    width:18rem;
}
.bg-mycolor{
    background-image: linear-gradient(to right, #d36be7, #ec67cd, #fa6ab5, #ff729f, #ff7e8e, #ff8a82, #ff9879, #ffa773, #ffb96d, #ffcd6a, #ffe26a, #f9f871);
}
footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:#D36BE7;
    font-weight: bold;
}
